{% load static %}
<!DOCTYPE html>
<html>  
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <style>
    .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* Style the container as needed */
}

.bike-details {
  width: 300px;
  margin: 20px;
  text-align: center;
  /* Style each bike details container */
}

.bike-details img {
  width: 100%;
  height: auto;
  /* Style the bike images */
}

/* Add additional CSS styling for headings, paragraphs, etc. */

  </style>
  <div class="container">
    <div class="bike-details">
      <img src="../../static/images/img1.jpeg" alt="bike 1">
      <h2>royalenfield classic 350</h2>
      <p>TO KNOW MORE DETAILS CLICK ON BELOW LINK</p>
      <button type="submit"><a href="http://127.0.0.1:8000/royal/">GET DETAILS</button></a>
      <!-- Include other details about bike 1 -->
    </div>
    
    <div class="bike-details">
      <img src="../../static/images/img4.jpeg" alt="bike 2">
      <h2>pulsar NS200</h2>
      <p>TO KNOW MORE DETAILS CLICK ON BELOW LINK</p>
      <button type="submit"><a href="http://127.0.0.1:8000/pulsar/">GET DETAILS</button></a>
      <!-- Include other details about bike 2 -->
    </div>
    <div class="bike-details">
      <img src="../../static/images/img2.jpeg" alt="bike 3">
      <h2>royal hunter 350</h2>
      <p>TO KNOW MORE DETAILS CLICK ON BELOW LINK</p>
      <button type="submit"><a href="http://127.0.0.1:8000/hunter350/">GET DETAILS</button></a>
      <!-- Include other details about bike 3 -->
    </div>
   <div class="bike-details">
     <img src="../../static/images/img3.jpeg" alt="bike 4">
     <h2>Honda Dio</h2>
     <p>TO KNOW MORE DETAILS CLICK ON BELOW LINK</p>
     <button type="submit"><a href="http://127.0.0.1:8000/hondadio/">GET DETAILS</button></a>
     <!-- Include other details about bike 4 -->
   </div>
   <div class="pet-details">
     <img src="../../static/images/img7.jpeg" alt="bike" 5>
     <h2>Yamaha MT 15</h2>
     <p>TO KNOW MORE DETAILS CLICK ON BELOW LINK</p>
     <button type="submit"><a href="http://127.0.0.1:8000/yamaha/">GET DETAILS</button></a>
     <!-- Include other details about bike 5 -->
    </div>
    
    <div class="bike-details">
     <img src="../../static/images/img5.jpeg" alt="bike 7">
     <h2>Rx-100</h2>
     <p>TO KNOW MORE DETAILS CLICK ON BELOW LINK</p>
     <button type="submit"><a href="http://127.0.0.1:8000/RX/">GET DETAILS</button></a>
     <!-- Include other details about bike 6 -->
   </div>
   <div class="bike-details">
    <img src="../../static/images/img6.jpeg" alt="bike 7">
    <h2>TVS APPAACHE</h2>
    <p>TO KNOW MORE DETAILS CLICK ON BELOW LINK</p>
    <button type="submit"><a href="http://127.0.0.1:8000/tvs/">GET DETAILS</button></a>
    <!-- Include other details about bike 6 -->
  </div>
  <div class="bike-details">
    <img src="../../static/images/img11.jpeg" alt="bike 7">
    <h2>KTM 200 DUKE</h2>
    <p>TO KNOW MORE DETAILS CLICK ON BELOW LINK</p>
    <button type="submit"><a href="http://127.0.0.1:8000/ktm/">GET DETAILS</button></a>
    <!-- Include other details about bike 6 -->
  </div>

   
  </div>
</body>
</html>
    
